* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0.7rem;
}

.hamburger {
    background-color: white;
    border: none;
}

.hamburger img {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 4vh;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
}

.cart {
    background-color: white;
    border: none;
}

.cart img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 3vh;
    background-color: white;
    border: none;
}

.warning {
    padding: 1.5rem;
    text-align: center;
}

.checkout {
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.demo {
    color: grey;
}

.input {
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(212, 210, 210);
    padding: 0.6rem 0rem 0.6rem 0rem;
    font-size: 1rem;
    width: 90%;
    margin: 1rem;
    z-index: 1;
}

.input-cont {
    position: relative;
}

.class-state {
    width: 50%;
}

.input-cont label {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    opacity: 0.5;
}

.underline {
    position: absolute;
    background-color: transparent;
    height: 2px;
    left: 43%;
    bottom: 16px;
    width: 1%;
    transition: transform 0.2s ease;
}

input:focus+label+div {
    background-color: black;
    transform: scale3d(81, 1, 1);
}

input:focus+label {
    opacity: 1;
    font-size: 0.8rem;
    transition-duration: 0.15s;
    transition-timing-function: ease-out;
    transform: translate3d(0px, -1.9em, 0px);
}

.form-headings {
    font-weight: bold;
    padding: 1rem 0rem 0.3rem 1rem;
}

.internal-input {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.drop-down-country {
    background-color: white;
    border: none;
    border-bottom: 2px solid rgb(212, 210, 210);
    padding: 1rem 0rem 0.3rem 0rem;
    font-size: 1rem;
    width: 92%;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
    outline: none;
}

.selectors-heading {
    padding: 1rem 0rem 0.3rem 1rem;
}

.selectors-date {
    display: flex;
    height: 3rem;
    width: 94%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    outline: 2px solid black;
}

.hidden {
    display: none;
}

#checkbox {
    accent-color: #172C50;
}

.checkbox-details {
    display: flex;
    flex-wrap: wrap;
    padding: 0.8rem;
    margin: 0.8rem 0.5rem;
}

#checkbox:checked+div+div {
    display: block;
    margin: 0rem -1rem;
    width: 110%;
}

.checkbox-text {
    margin-top: 0.1rem;
    padding-left: 1rem;
}

.drop-down-expiry {
    background-color: white;
    border: none;
    border-bottom: 2px solid rgb(212, 210, 210);
    font-size: 1rem;
    width: 92%;
    margin-left: 0.8rem;
    margin-bottom: 0.8rem;
    outline: none;
}

.CVV {
    border: none;
    border-bottom: 2px solid rgb(212, 210, 210);
    font-size: 1rem;
    margin-top: 0.8rem;
    margin-left: 0.6rem;
    outline: none;
    width: 85%;
}

#CVV-text {
    margin: -1rem -0.3rem;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 7rem;
    margin-right: 1.5rem;
}

.items,
.total-amount {
    display: flex;
    justify-content: space-between;
}

.total-amount {
    margin-top: 2.5rem;
}

.place-order {
    width: 100%;
    height: 4rem;
    color: white;
    background-color: #172C50;
    border: none;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
}

/* Media Query for Desktop */
@media (min-width: 724px) {
    form {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
        margin: 4rem auto;
    }

    .section-1,
    .section-2 {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .hamburger img {
        visibility: hidden;
    }

    .checkbox-details {
        display: block;
    }

    .checkbox-text {
        position: relative;
        bottom: 1.5rem;
        left: 2rem;
    }

    .underline {
        left: 52%;
        width: 1.2%;
    }

    #state-underline {
        width: 1%;
    }

    input:focus+label+#state-underline {
        background-color: black;
        left: 115px;
        transform: scale3d(95, 1, 1);
    }

    .CVV-Underline {
        position: absolute;
        background-color: transparent;
        height: 2px;
        left: 30%;
        bottom: 13px;
        width: 0.5%;
        transition: transform 0.2s ease;
    }

    .place-order {
        width: 12rem;
        height: 2rem;
        font-size: 0.9rem;
        color: black;
        background-color: white;
        border: 2px solid black;
        position: relative;
        bottom: 6.5rem;
        left: 1rem;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-polymer {
        font-size: 1rem;
        color: grey;
        padding-bottom: 0.5rem;
    }

    .footer-demo-only {
        height: 2rem;
        width: 9rem;
        padding: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        background-color: black;
        color: white;
    }
}